go 1.19

use (
	./programmers/level/one/2016year/wando
	./programmers/level/one/basicString/wando
	./programmers/level/one/centerChar/wando
	./programmers/level/one/divideArray/wando
	./programmers/level/one/stringDescendation/wando
	./programmers/level/one/stringSort/wando
	./programmers/level/one/sumTwoInteger/wando
)
